

.App {
  text-align: center;
  /*margin-top: 15rem;
  margin-bottom: 2rem;*/
}
.heading{
  font-size:6rem;
  color: #444;
  background-color: aliceblue;
  border: 2px solid aliceblue;
  width: 75%;
  margin: 1rem auto;
  padding: 1.5rem;
}

