.norrisgrid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px; 
  margin: 3rem auto;
  background: aliceblue;
  color: burlywood;
  border: 2px solid aliceblue;
}
.norris a{
  color: #333;
  text-decoration: none;
}
.norris a:hover{
  color: maroon ;

}

.norris{
  display: flex;
  justify-content: space-between;
  padding: 1rem;  
}
.norris img{
  margin-right: 1rem;
}